.app {
  display: flex;
  flex-direction: column;

  .section {
    height: 100vh;
  }

  .services {
    display: flex;

    &_left {
      flex: 1;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      margin-right: 20px;

      .sticky {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        column-gap: 40px;

        .circle {
          width: 200px;
          height: 200px;

          svg {

            circle {
              stroke-dashoffset: 3600 !important;
            }
          }
        }

        .line {
          height: 6px;
          width: 120px;
          background-color: black;
        }
      }
    }

    &_right {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding: 60px 0;

      .collapse {
        height: 80px;
        border-radius: 20px;
        border: 1px solid black;
      }
    }
  }
}
